body{
  margin:0;
  padding:0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans', sans-serif;
}

body,
html {
  height: 100%;
  line-height: 1.8;
  background-position: center;
  background-size: cover;
  background-image: url("./assets/cover/laptop.jpg");
  min-height: 100%;
}

.w3-top{
  margin-bottom: 0;
  border:none;
  background-color: black;
}


#content {
  height: 100vh;
  position: relative;
}
#content {
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0px;
  color: white;
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 99999;
  text-align: center;
}

ul li{
list-style-type: none;
}



.title {
  font-size: 25px;
}

.w3-white {
  color: white;
}

.w3-display-left {
  position: absolute;
  margin-top: 350px;
}

.slogan {
  display: block;
  font-family: 'Syne Mono', monospace;
  opacity: 0.7;
  width: 100%;
  color: white;
  text-shadow: 10px 10px black;
  font-weight: bolder;
}


.w3-bar .w3-button,
a {
  padding: 20px 20px 20px;
  color: white;
}

.w3-container{
padding-top:100px;
}



.w3-card-2 {
  top: 0;
  background-image: url("./assets/cover/laptop.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
}

.project-img {
  box-shadow: 0 0 15px 15px;
  color: black;
  text-align: center;
  margin:20px 0 30px 0;
}

.project-img:hover {
  opacity: 0.5;
  transition: opacity 0.3s linear;
  /* vendorless fallback */
  -o-transition: opacity 0.3s linear;
  /* opera */
  -ms-transition: opacity 0.3s linear;
 
}

.title-icon {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 10px;
}

.github:hover {
  color: rgb(190, 190, 190);
}

.description,
.title-icon {
  color: white;
}

.card {
  border: none;
  background-color: gray;
}

.contact-form {
  background: rgb(81, 157, 174);
  background: linear-gradient(337deg, rgba(81, 157, 174, 1) 32%, rgba(21, 37, 48, 1) 65%);
  background-size: cover;
  height: 100%;
  width: 100%;
}

.contact-img {
  display: block;
  text-align: center;
  padding-top: 150px;
}

.avatar {
  height: 500px;

}
.images-project {
  background-color: grey;
}

.form-group {
  padding: 0 20px 0 20px;
}

.w3-content {
  margin-bottom: 150px;
  font-size: 17px;
  margin: 20px auto 100px;
  padding-top: 50px;
}

.contact-text {
  font-size: 20px;
}

#contact {
  padding-bottom: 100px;
}

footer {
  background-position-x: center;
  position: fixed;
  color: white;
  bottom: 0;
  z-index: 1;
  background-color: transparent;
  margin-bottom: 0;
}


.copyright {
  padding-bottom: 0;
}


.icon {
  color: white;
  padding: 0 10px 5px 20px 0;
  margin-top: 10px;
}

.icon:hover {
  color: rgb(174, 176, 176);
}

.fa-terminal {
  color: greenyellow;
}