body {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans', sans-serif;
}

body,
html {
  height: 100%;
  line-height: 1.8;
  background-position: center;
  background-size: cover;
  background-image: url("./assets/cover/laptop.jpg");
  min-height: 100%;
}

.navbar{
  height: 100px;
}

.navbar-brand{
  font-size: 30px;
  padding-left: 30px;
}

.collapse{
  justify-content: flex-end;
}

.navbar-item{
  margin:0 20px 0 20px;
}


.navbar-item{
  position:absolute;
  float: inline-end;
}
.w3-top {
  margin-bottom: 0;
  border: none;
  background-color: black;
}

.w3-display-left{
  margin-left: 50px;
  margin-top: 50px;
}


.title {
  font-size: 25px;
}

.w3-white {
  color: white;
}

.w3-display-left {
  position: absolute;
  margin-top: 350px;
}

.slogan {
  display: block;
  font-family: 'Syne Mono', monospace;
  opacity: 0.7;
  width: 100%;
  color: white;
  text-shadow:  10px 10px black;
  font-weight: bolder;
}


.w3-button,
a {
  padding: 0 10px 0 10px;
  color: white;
}

.nav-item:hover{
color: grey;
}

.w3-container {
  padding-top: 100px;
}

.icon-card {
  width: 100%;
}

.text-center {
  padding-bottom: 30px;
  font-size: larger;
  margin: 0;
}

.w3-card-2 {
  top: 0;
  background-image: url("./assets/cover/laptop.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
}

.project-img {
 display:block;
 justify-content: flex-start;
}

.project-img:hover {
  opacity: 0.5;
  transition: opacity 0.3s linear;
  /* vendorless fallback */
  -o-transition: opacity 0.3s linear;
  /* opera */
  -ms-transition: opacity 0.3s linear;

}

.projectTitle{
  text-align: center;
  color:white;
  padding:20px auto 20px;
}

.title-icon {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 10px;
}

.github:hover {
  color: rgb(190, 190, 190);
}

.description,
.title-icon {
  color: white;
}

.card {
  border: none;
  background-color: gray;
  padding-bottom: 30px;
}

.contact-form {
  background: rgb(81, 157, 174);
  background: linear-gradient(337deg, rgba(81, 157, 174, 1) 32%, rgba(21, 37, 48, 1) 65%);
  background-size: cover;
  height: 100%;
  width: 100%;
}

.contact-img {
  display: block;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 50px;
}

.avatar {
  height: 500px;

}



.images-project {
  background-color: grey;
  margin-top:0;
  padding-top:0;
}

.form-group {
  padding: 0 20px 0 20px;
}

.w3-content {
  font-size: 17px;
  margin: 0 auto 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact-text {
  font-size: 20px;
}

#contact {
  padding-bottom: 100px;
  color: white;
}

.contact_form textarea {
  color: #bcbcbc;
  padding: 20px 25px !important;
  height: 160px !important;
}

.contact_form .form-control {
  background-color: #333333;
  margin-bottom: 30px;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  color: #bcbcbc;
  font-size: 16px;
  outline: 0 none;
  padding: 10px 25px;
  height: 55px;
  resize: none;
  box-shadow: none !important;
  width: 100%;
  border-radius: 0px;
}


footer {
  position: fixed;
  color: white;
  bottom: 0;
  z-index: 1;
  background-color: transparent;
  margin-bottom: 0;
}


.copyright {
  padding-bottom: 0;
}


.icon {
  color: white;
  padding: 0 10px 5px 20px 0;
  margin-top: 10px;
}

.icon:hover {
  color: rgb(174, 176, 176);
}

.icons-bottom {
  display: table-caption;
  padding-bottom: 100px;
}

.bottom-container {
  padding-left: 30px;
}

.fa-terminal {
  color: greenyellow;
}

@media screen and (max-width:570px) {

  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .icons-bottom {
    padding-bottom: 10px;
  }

  .icon-button {
    padding: 7px;
  }
  .copyright{
    font-size: 15px;
  }

  .form-content{
width:fit-content;
  }

  
}