body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif;
}

body, html {
  height: 100%;
  line-height: 1.8;
  background-position: center;
  background-size: cover;
  background-image: url("./assets/cover/laptop.jpg");
  min-height: 100%;
}


.title{
  font-size: 25px;
}
.w3-top{

}
.w3-white{
  color:white;
}


.w3-bar .w3-button {
  padding: 16px;
  color:white;
}
.w3-card, .w3-card-2 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url("./assets/cover/laptop.jpg");
      background-size: cover;        background-position: center;
      background-attachment: fixed;
      background-position: 80%;
      
}

footer{
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  color:white;
}

.icon{
  color:white;
  padding:0 20px 20px 0;
}
.icon:hover{
  color: rgb(174, 176, 176);
}
.fa-terminal{
  color: greenyellow;
}


